<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteRule ^register$ register.php
RewriteRule ^logout$ logout.php
RewriteRule ^login$ login.php
RewriteRule ^submit$ submit.php
RewriteRule ^search$ search.php
RewriteRule ^error$ error.php
RewriteRule ^beers/(.*) beer.php?id=$1
RewriteRule ^profiles/edit$ edit_profile.php
RewriteRule ^profiles/(.*) profile.php?u=$1
</IfModule>

<IfModule mod_security.c> 
   SecFilterEngine Off 
   SecFilterScanPOST Off 
</IfModule>
