html,body {
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
background:#c7e6fb;
height:100%;
overflow-x:hidden;
overflow-y:auto;
margin:0;
}

.main_container {
min-height:100%;
margin-bottom:-64px;
position:relative;
}

a {
text-decoration:none;
color:#000;
font-weight:700;
}

a:hover {
color:#666;
}

p {
font-size:14px;
line-height:22px;
margin-bottom:10px;
}

h1 a {
background:url(../images/logo.png) no-repeat;
width:254px;
height:70px;
margin-top:25px;
text-indent:-9000px;
float:left;
display:block;
z-index:1000;
position:relative;
overflow:hidden;
}

h1 a:hover {
opacity:.9;
}

.required,#register strong,#login strong,.blurb a,#edit_profile h2 strong,#edit_beer h2 strong {
color:red;
font-weight:700;
}

#header {
border-bottom:4px solid #000;
background:#111;
opacity:.9;
height:120px;
margin-bottom:30px;
}

#header ul {
float:right;
margin-top:50px;
list-style-type:none;
}

#header li {
float:left;
margin-left:40px;
}

#header li.login {
margin-right:8px;
}

#header li a {
color:#fff;
font-size:16px;
font-weight:700;
padding:5px;
}

.footer {
padding-top:20px;
border-top:4px solid #000;
background:#111;
opacity:.9;
font-size:11px;
color:#eee;
height:40px;
position:relative;
margin:0 auto;
}

.footer strong {
color:#666;
float:right;
}

.shadow {
border-bottom:3px solid #aaa;
border-right:3px solid #aaa;
margin-bottom:20px;
float:left;
background:#aaa;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}

.full {
width:100%;
}

.page {
background:#fff;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin:-5px 0 0 -5px;
padding:20px 40px;
}

.page p {
margin-bottom:20px;
}

.page h2 {
font-weight:700;
margin-bottom:10px;
font-size:200%;
color:#000;
text-shadow:0 1px 0 #fff;
}

#register input.inputbox {
width:270px;
}

#submit input.inputbox {
width:36px 0;
}

#edit_profile input.inputbox {
width:500px;
}

ul {
list-style-type:none;
}

label {
font-size:20px;
font-weight:700;
color:#666;
font-family:"Helvetica Neue", "Helvetica", "Lucida Grande",'Lucida Sans Unicode',Verdana,Arial,"Bitstream Vera Sans",sans-serif;
text-shadow:0 1px 0 #fff;
display:block;
padding:20px 0 0;
}

#register li span,#login li span,#edit_profile li span,#edit_beer li span {
font-family:"Helvetica Neue", "Helvetica", "Lucida Grande",'Lucida Sans Unicode',Verdana,Arial,"Bitstream Vera Sans",sans-serif;
text-shadow:0 1px 0 #fff;
font-size:14px;
color:#135D77;
display:none;
padding:0 0 0 10px;
}

input.inputbox,select, textarea{
font-size:18px;
width:220px;
border:1px solid #a4cfe6;
padding:6px;
}

input.rating_input {
font-size: 10px;
width: 70px;
margin-right: 10px;
border:1px solid #aaa;
padding:6px;
}

input.button {
   font-weight: bold;
   color: #fff;
   text-shadow: 0 -1px 0 #000;
   font-size: 20px;
   text-align: center;
   display: block;
   border: 0;
   height: 46px;
   width: 200px;
   background: url('../images/button.png') left bottom no-repeat;
   cursor: pointer;
}

input.button:hover {
background:url('../images/button.png') right bottom no-repeat;
}


select {
margin-top:10px;
}

button.g-button, a.g-button, input[type=submit].g-button {
padding: 6px 10px;
-webkit-border-radius: 2px 2px;
border: solid 1px rgb(153, 153, 153);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
color: #333;
text-decoration: none;
cursor: pointer;
display: inline-block;
text-align: center;
text-shadow: 0px 1px 1px rgba(255,255,255,1);
line-height: 1;
}

div.errors {
background:#c00;
margin-bottom:5px;
color:#fff;
font-size:18px;
text-shadow:0 1px 1px #000;
-moz-border-radius:3px;
-webkit-border-radius:3px;
font-weight:700;
padding:8px 12px;
}

div.errors.success {
background:green;
font-weight:700;
}

div.errors strong {
color:#000;
}

.bad {
background-color:#ff6767;
}

.decent {
background-color:#e5ff54;
}

.good {
background-color:#72ff67;
}

.beer_name {
text-align:center;
background-color:#444;
font-size:36px;
font-weight:700;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin:5px;
}

ul.beer_attributes li {
font-size:24px;
background-color:#282828;
text-shadow:0 1px 1px #000;
-webkit-border-radius:5px;
-moz-border-radius:5px;
color:#fff;
font-weight:700;
cursor:pointer;
margin:10px 5px 5px;
padding:6px;
}

span.favorite {
font-size:16px;
background-color:#c231ac;
float:right;
opacity:.2;
margin:8px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
padding:7px;
cursor: pointer;
}

span.yes { opacity: 1; }
span.no { opacity: .2; }

span.remove_favorite:hover { background-color: #90217f; }
ul.beer_attributes li span.property_name, ul.favorites li span.remove_favorite {
font-size:16px;
background-color:#d1a200;
float:right;
opacity:.2;
-webkit-border-radius:5px;
-moz-border-radius:5px;
padding:7px;
cursor: pointer;
}

.favorite img {width: 16px; height: 16px;}
ul.favorites li a {color: #fff;}
ul.favorites li a:hover {color: #ddd;}

ul.favorites li span.remove_favorite:hover { opacity: 1; }

ul.beer_attributes li span.property_desc {
font-size:12px;
float:right;
opacity:.2;
margin-top:4px;
padding:7px;
}

ul.beer_attributes li.alt {
background-color:#303030;
}

ul.favorites li.alt {
background-color:#eee;
}

.beers,.profiles {
margin:0 0 0 5px;
}

.beers h2,.profiles h2 {
margin-left:5px;
}

.beer,.profile {
background:#222;
margin-top:-5px;
color:#fff;
border:1px solid #222;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin-left:-8px;
padding:5px;
}

#admin .label {
font-size:20px;
color:#666;
font-family:"Helvetica Neue", "Helvetica", "Lucida Grande",'Lucida Sans Unicode',Verdana,Arial,"Bitstream Vera Sans",sans-serif;
text-shadow:0 1px 0 #fff;
}

#edit_profile img {
margin-bottom:10px;
float:right;
width:170px;
height:200px;
}

.q {
font-size:16px;
margin-bottom:15px;
background-color:#f1f1f1;
border-bottom:#ddd 5px solid;
padding:10px;
width: 100%;
}

.quote {
background:#ddd;
color:fff;
width: 100%;
font-weight:700;
padding:11px;
}

#profile img {
border:#111 3px solid;
margin-right:10px;
margin-bottom:10px;
background-color:#000;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}

.admin_function {
border-bottom:5px #eee solid;
background-color:#f9f9f9;
padding:10px;
}

#rating {
margin-bottom:10px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
background-color:#BCC1CB;
color:#1a1f27;
font-size:60px;
text-align:center;
text-shadow:0 1px 0 #fff;
font-weight:700;
padding:10px;
}

ul.recommended_beers li {
font-size:14px;
}

ul.white_list li {
font-size:24px;
text-shadow:0 1px 0 #fff;
background-color:#f1f1f1;
text-align:center;
-webkit-border-radius:5px;
-moz-border-radius:5px;
color:#000;
font-weight:700;
margin:5px;
padding:5px;
}

ul.white_list li:hover {
background-color:#ddd;
cursor:pointer;
}

ul.white_list li a {
color:red;
}

ul.white_list li a:hover {
color:#b50000;
}

.modified {
font-size:12px;
float:right;
margin:3px 5px 0 0;
}

.blurb {
background:#fff;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin:-5px 0 0 -5px;
padding:17px 22px;
}

.blurb h3 {
font-weight:700;
margin-bottom:10px;
font-size:16px;
}

#header li a:hover,.beer:hover a:hover,.profile:hover a:hover {
color:#ddd;
}

.footer a,div.errors a:hover {
color:#fff;
}

#search input.inputbox,#login input.inputbox {
width:400px;
}

ul.beer_attributes li:hover,ul.beer_attributes li.alt:hover,ul.top_recommended li:hover,ul.user_attributes li:hover, ul.favorites li:hover {
background-color:#444;
}

ul.top_recommended li,ul.user_attributes li, ul.favorites li {
font-size:24px;
background-color:#282828;
text-shadow:0 1px 1px #000;
-webkit-border-radius:5px;
-moz-border-radius:5px;
color:#fff;
margin-top:8px;
margin-right:5px;
margin-bottom:9px;
font-weight:700;
padding:5px;
}

ul.favorites li { background-color: #c231ac; }
ul.favorites li:hover {background-color: #90217f; }

.beer a,.profile a,.logout strong,.blurb h1 {
color:#aaa;
}